# Include the data files
include main.py
recursive-include isso *
recursive-include blessed_extensions *.py *.rst *.html *.css
recursive-include migrations *.py *.ini *.rst
recursive-include ext_migrations *.py *.ini *.rst
