psycopg2==2.6.1
SQLAlchemy==1.0.8
flask==0.10.1
alembic==0.8.0
Flask-SQLAlchemy==2.0
Flask-Script==2.0.5
Flask-Migrate==1.5.0
voluptuous==0.8.7
stevedore==1.7.0
flask-cors==2.1.0
simplejson==3.8.0
misaka==2.0.0b1.post2
